:root {
    --primary-color: #2A4F47;
    --secondary-color: #626C45;
    --bg-color: #142418;
    --third-color: #8B948B;
    --fourth-color: #778068;
    --fifth-color: #4F5738;
    --font-color: #B0B0A5;
    --second-font-color: #E2E2DF;
    --primary-font: "Playfair Display", serif;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--bg-color);
    font-family: var(--primary-font);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

header {
    background-color: var(--primary-color);
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

main {
    width: 100%;
    height: 80vh;
    background: url(../img/johnny-briggs-yjG-AwsgOLs-unsplash.jpg) no-repeat top left;
    background-size: cover;
    overflow-y: auto;
}

footer {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
}

a {
    text-decoration: none;
    color: var(--font-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.searchBar {
    display: flex;
    justify-content: space-evenly;
}

.addBar {
    display: flex;
    align-items: center;
}

input {
    min-height: 25px;
    max-width: 350px;
    padding: 0 1rem;
    color: var(--second-font-color);
    font-size: 15px;
    border: 1px solid var(--bg-color);
    border-radius: 6px;
    background-color: transparent;
    font-family: var(--primary-font);
}

::placeholder {
    color: var(--second-font-color);
}

#searchItem {
    min-height: 50px;
    max-width: 250px;
    border-radius: 6px 0 0 6px;
    color: var(--font-color);
}

#searchItem::placeholder {
    color: var(--font-color);
}

button {
    min-height: 50px;
    padding: .5em 1em;
    border: none;
    border-radius: 6px;
    background-color: var(--secondary-color);
    color: var(--font-color);
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
    font-family: var(--primary-font);
}

#searchBtn {
    border-radius: 0 6px 6px 0;
}

.closeContainer{
    display: flex;
    justify-content: flex-end;
}

button:hover {
    background-color: var(--third-color);
}

input:focus,
input:focus-visible {
    border-color: var(--secondary-color);
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--second-font-color);
    -webkit-box-shadow: 0 0 0px 1000px var(--secondary-color) inset;
    transition: background-color 5000s ease-in-out 0s;
}

.dialog::backdrop {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.dialog {
    top: 20%;
    left: 25%;
    position: absolute;
    width: 50vw;
    height: 60vh;
    background-color: var(--fourth-color);
    box-shadow: 5px 10px var(--bg-color);
    border-radius: 8px;
    border: none;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.form-input {
    display: flex;
    align-items: center;
    gap: 15px;
}

.radio-button {
    display: inline-block;
    margin-right: 20px;
}

.radio-button__input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.radio-button__custom {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--bg-color);
    background-color: var(--second-font-color);
    transition: background-color 0.3s ease, border-color 0.3s ease;
    top: 50%;
    transform: translateY(-50%);
    left: -25px;
}


.radio-button__custom {
    width: 20px;
    height: 20px;
}

.radio-button__input:checked + .radio-button__label .radio-button__custom {
    background-color: var(--primary-color);
    border-color: transparent;
}

.radio-button__label {
    font-size: 16px; 
    position: relative;
    top: -2px; 
    left: 5px; 
}

.dialog-results{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#error, #success {
    font-weight: bolder;
}

.libContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
    gap: 27px;
}

.cardNav{
    display: flex;
    gap: 5px;
}

.bookCard{
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    padding: 5px;
    border: 5px solid var(--bg-color);
    border-radius: 10px;
    background-color: var(--secondary-color);
    opacity: 0.9;
}

.deleteBtn, .modifyBtn{
    min-height: 20px;
    font-size: 12px;
    background-color: var(--fifth-color);
}

.bookInfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    overflow-wrap: break-word;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    color: var(--second-font-color);
    overflow-y: auto;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #8B948B;
    -webkit-box-shadow: inset 0 0 5px #2A4F47;
            box-shadow: inset 0 0 5px #2A4F47; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #2A4F47; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #142418; 
  }.example {
      display: -ms-grid;
      display: grid;
      -webkit-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
      background: -o-linear-gradient(top, white, black);
      background: linear-gradient(to bottom, white, black);
  }